{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col bg-light m-5 p-5">
            <h1>Cel aplikacji</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, iusto. Optio sit quidem, tempora commodi corrupti
                aliquid eos laudantium veritatis voluptatem, dolores nulla nihil nesciunt, mollitia est. Dolores, aperiam modi!
                Commodi vitae quos neque, expedita vel exercitationem explicabo quibusdam officia quidem reiciendis eos. Hic quia
                quasi accusantium perferendis aspernatur. Sed expedita animi esse asperiores minus, commodi vero delectus voluptates
                minima?</p>
        </div>
    </div>
</div>
{% endblock %}