{% extends 'base.html' %}
{% block content %}
<div class="button d-flex justify-content-center">
    <a class="btn btn-light my-5" href="/product_site/{{id}}" role="button">Powrót do strony z produktem</a>
</div>
<div class="images d-flex justify-content-center">
    <figure>
        <img class="p-3" src="{{ url_for('static', filename='../charts_folder/bar-') }}{{id}}.png">
        <figcaption class="text-light">Wykres kolumnowy rodzaju ocen dla produktu</figcaption>
    </figure>
    <figure>
        <img class="p-3" src="{{ url_for('static', filename='../charts_folder/pie-') }}{{id}}.png">
        <figcaption class="text-light">Wykres kołowy udziału poszczególnych rekomendacji</figcaption>
    </figure>
</div>
{% endblock %}