{% extends 'base.html' %}
{% block content %}
<div class="container bg-dark text-light my-5">
    <h1 class="d-flex justify-content-center p-3">Nieprawidłowy kod produktu, spróbuj jeszcze raz</h1>
</div>
<div class="container bg-dark text-light my-5 ">
    <h1 class="d-flex justify-content-center p-3">Wprowadź kod produktu</h1>
    <div class="form-group p-3">
        <form action="/product_site" method="POST">
            <input type="number" class="form-control" name="id" placeholder="Wprowadź kod produktu">
            <input type="submit" class="btn btn-light my-3 px-5 d-flex mx-auto" value="Submit">
        </form>
    </div>
</div>
{% endblock %}