{% extends 'base.html' %}
{% block content %}
<div class="container">
    
</div>
<div class="table-container d-flex justify-content-center">
    <table class="table text-light bg-dark w-75 m-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Review ID</th>
                <th scope="col">Author Name</th>
                <th scope="col">Recommendation</th>
                <th scope="col">Rating</th>
                <th scope="col">Verification</th>
                <th scope="col">Helpful Amount</th>
                <th scope="col">Unhelpful Amount</th>
                <th scope="col">Content</th>
                <th scope="col">Review Date</th>
                <th scope="col">Buy Date</th>
                <th scope="col">List of pros</th>
                <th scope="col">List of cons</th>
            </tr>
        </thead>
        <tbody>
            {% for item in form_data %}
            <tr>
                <th scope="row">{{form_data.index(item) + 1}}</th>
                <td>{{item['review_id']}}</td>
                <td>{{item['author_name']}}</td>
                <td>{{item['recommendation']}}</td>
                <td>{{item['stars_given']}}</td>
                <td>{{item['verification']}}</td>
                <td>{{item['helpful']}}</td>
                <td>{{item['unhelpful']}}</td>
                <td>{{item['review_content']}}</td>
                <td>{{item['review_date']}}</td>
                <td>{{item['buy_date']}}</td>
                <td>{{item['list_of_pros']}}</td>
                <td>{{item['list_of_cons']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}