{% extends 'base.html' %}
{% block content %}
<div class="container">
    
</div>
<div class="table-container d-flex justify-content-center">
    <table class="table text-light bg-dark w-75 m-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Review ID</th>
                <th scope="col">Author Name</th>
                <th scope="col">Recommendation</th>
                <th scope="col">Rating</th>
                <th scope="col">Verification</th>
                <th scope="col">Helpful Amount</th>
                <th scope="col">Unhelpful Amount</th>
                <th scope="col">Content</th>
                <th scope="col">Review Date</th>
                <th scope="col">Buy Date</th>
                <th scope="col">List of pros</th>
                <th scope="col">List of cons</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}